name: typo check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ubuntu-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: check typos
        run: |
          sudo apt install codespell
          scripts/check_typos.sh
