name: VS17-ARM-CI

on: [push, pull_request]

jobs:
  ci:
    name: windows-vs17
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {gen: Visual Studio 17 2022, arch: ARM64}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Use cmake
        run: |
          cmake -G "${{matrix.gen}}" -A ${{ matrix.arch }} -DSIMDUTF_ALWAYS_INCLUDE_FALLBACK=ON -DCMAKE_CROSSCOMPILING=1 -DSIMDUTF_ICONV=OFF -B build  &&
          cmake --build build --verbose
